<link rel="stylesheet" href="//cdn.rawgit.com/balpha/pagedown/master/demo/browser/demo.css" />
<%= form_for(@new_question = Question.new) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id if current_user %>

  <% if @new_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @new_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field title-field">
    <%# f.label :title %><br>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
  </div>
  <div class="field">
    <%# f.label :description %><br>
    <%#= f.text_area :description, placeholder: 'Description', class: 'form-control' %>
    <div id="wmd-button-bar-modal"></div>
    <textarea class="wmd-input-modal wmd-input" id="wmd-input-modal" name="question[description]"></textarea>
    <%#= f.text_area :description, class: "wd-input-modal", id: "wd-input-modal" %>
  </div>
  <a href="https://guides.github.com/features/mastering-markdown/" class="markdown markdown-new">Markdown Supported<i class="fa fa-code"></i></a>
  <div class="field form-group">
    <%# label_tag "Employer Name" %><br>
    <%= text_field_tag :name, nil, placeholder: 'Employer', class: 'form-control' %>
  </div>
  <div class="field">
    <%# f.label :tag_list, "Tags (separated by commas)" %><br>
    <%= f.text_field :tag_list, placeholder: 'Tags (separated by commas)', class: 'form-control' %>
  </div>
  <div class="actions new-question-button">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"></script>

<script type="text/javascript">
  console.log('test');
  var converter = Markdown.getSanitizingConverter();
  var modalEditor = new Markdown.Editor(converter, "-modal");
  modalEditor.run();
</script>
<script type="text/javascript">
  $(document).on('ready', function(){
  })
</script>
