<p id="notice"><%= notice %></p>
<!-- <h2 class="list-title text-center">Listing questions</h2> -->

<% if @questions.any? %>
<div class="text-center">
  <% if params[:unanswered] %>
    <%= link_to "View All", questions_path(answered: true) %>
  <% elsif params[:answered] %>
    <%= link_to "View Unanswered", questions_path(unanswered: true) %>
  <% else %>
    <%= link_to "View Unanswered", questions_path(unanswered: true) %>
  <% end %>
</div>
<div class="all-questions text-center">
  <% @questions.each do |question| %>
    <% if question.approved? %>
      <%# if question.answers.count == 0 %>
      <%# end %>
    <h4 class="question-title"><%= question.title %></h4>
      <div class="tags-excluded">
        <%= question.score %>
        <%= link_to '', like_question_path(question), method: :put, class: "glyphicon glyphicon-plus-sign", id: "counter", data: {toggle: "tooltip", placement: "top"}, title: "I was also asked this question"%>
        <%# question.description %>
        <%= link_to "#{question.description}", question, class: "question-description" %>
        <% if (current_user && question.user_id == current_user.id) || (current_user && current_user.administrator) %>
          <br>
          <%= link_to '', edit_question_path(question), class: "glyphicon glyphicon-edit" %>
          <%= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-ban-circle", title: "Delete this question." %><br>
        <% end %>
      </div>
        <%= link_to "Answers(#{question.answers.count})", question, class: "num-answers" %>
      <div class="just-tags">
        Tags: <%= raw question.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %><br>
      </div>
    <% end %>
  <% end %>

<br>

</div>
<% else %>
  <div class="alert alert-warning" role="alert">We're sorry, but your search didn't match any results</div>
<% end %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center digg_pagination">
    <% unless params[:unanswered] %>
      <%= will_paginate @questions %>
    <% end %>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57752020-1', 'auto');
  ga('send', 'pageview');

</script>