<!-- <h2 class="list-title text-center">Listing questions</h2> -->
<!-- <span id="notice"><%= notice %></span> -->

<% if @questions.any? %>

<div class="text-center">
  <ul class="nav nav-tabs nav-justified">
    <% if !(params[:answered]) && !(params[:unanswered]) %>
      <li role="presentation" class="active">
    <% elsif params[:newest] %>
      <li role="presentation" class="active">
    <% else %>
      <li role="presentation">
    <% end %>
        <%= link_to "Newest", questions_path(newest: true) %>
      </li>

    <% if params[:answered] %>
      <li role="presentation" class="active">
    <% else %>
      <li role="presentation">
    <% end %>
        <%= link_to "Popular", questions_path(answered: true) %>
      </li>
      
    <% if params[:unanswered] %>
      <li role="presentation" class="active">
    <% else %>
      <li role="presentation">
    <% end %>
        <%= link_to "Unanswered", questions_path(unanswered: true) %>
      </li>

      <!-- <li role="presentation"> -->
        <%# link_to "Bounty", bounty_path %>
      <!-- </li> -->

      <li role="presentation">
        <%= link_to "Leaderboard", leaderboard_show_path %>
      </li>
    <%# else %>
      <%# link_to "View Unanswered", questions_path(unanswered: true) %>
    <%# end %>
  </ul>
</div>
<!-- <div class="all-questions text-center"> -->
<style type="text/css">
  .question-link {
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }

</style>
  <div class="container">
    <br>

    <% @questions.each do |question| %>
      <% unless question.bounty == true %>
        <% if question.approved? %>
        <div> <!-- individual -->
          
          
          <div class="row" style="position:relative;">
            <!-- <div class="tags-excluded"> -->
              <div class="col-md-8 col-sm-8 col-xs-8" style="display:inline-block; border-bottom: 1px solid #A9A9A9; padding:5px;"> <!-- border box -->
                <div class="text-center" style="position:relative;">
                  <h4 class="text-center"><%= question.title %></h4>
                  <span style="float:left; position:absolute; height:2em; top:50%; margin-top:1em;">
                    <%= link_to '', edit_question_path(question), class: "glyphicon glyphicon-edit", style: "float:left;" %>
                    <%= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, style: "float:left;", class: "glyphicon glyphicon-ban-circle", title: "Delete this question." %>
                  </span>
                </div>
                
                <%# question.description %>
                <!-- question-description -->
                <div>
                  <div class="question-link" style="margin-top:10px; margin-bottom:10px; max-width:95%;">
                    <%= link_to "#{question.description}", question, class: "question-link", style: "font-size: 20px; white-space:pre-wrap; word-wrap: break-word;" %>
                  </div>
                </div>
                <% if (current_user && question.user_id == current_user.id) || (current_user && current_user.administrator) %>
                  <br>
                  <div class="text-center col-md-offset-4" style="margin: 0 auto;">
                    <div class="text-center" style="display:block;">
                      <%= question.score %>
                      <%= link_to '', like_question_path(question), method: :put, class: "glyphicon glyphicon-plus-sign", id: "counter", data: {toggle: "tooltip", placement: "top"}, title: "I was also asked this question"%>
                    </div>
                    <!-- <div class="text-center"> -->
                      <%#= link_to '', edit_question_path(question), class: "glyphicon glyphicon-edit" %>
                      <%#= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-ban-circle", title: "Delete this question." %>
                    <!-- </div> -->
                  </div>
                <% end %>
              </div>
                <!-- class: "num-answers" -->
              <div class="col-md-offset-8" style="height:6em; position:absolute; margin-top:-3em; top:50%;">
                <a href="/questions/<%= question.id %>" style="color:#A9A9A9">
                  <div style="background-color:#E8E9EE; padding:8px;">
                    <p class="text-center" style="font-size:20px;">
                      <%= question.answers.count %>
                    </p>
                    <p class="text-center" style="font-size:12px;margin-top:-5px;">Answers</p>
                  </div>
                </a>
                <%#= link_to "Answers(#{question.answers.count})", question  %>
              </div>
            
          </div>
          <!-- class="question-title" -->
          <div class="col-md-8 text-center" style="margin-top:5px;">
            <div class="just-tags"> 
              <%= raw question.tag_list.map { |t| link_to t, tag_path(t)}.join('') %><br>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <% end %>
      <% end %>
    <% end %>


<br>

</div>
<% else %>
  <div class="alert alert-warning" role="alert">We're sorry, but your search didn't match any results</div>
<% end %>
<div class="row">
  <div class="col-md-12 digg_pagination">
    <% unless params[:unanswered] %>
      <%= will_paginate @questions %>
    <% end %>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57752020-1', 'auto');
  ga('send', 'pageview');

</script>
