
<p id="notice"><%= notice %></p>
<!-- <h2 class="list-title text-center">Listing questions</h2> -->

<% if @questions.any? %>

<div class="all-questions text-center">
  <% @questions.each do |question| %>
  <h4 class="question-title"><%= question.title %></h4>
    <div class="tags-excluded">
      <%= question.score %>
      <%= link_to '', like_question_path(question), method: :put, class: "glyphicon glyphicon-plus-sign", id: "counter", title: "Click if you were also asked this question." %>
      <%# question.description %>
      <%= link_to "#{question.description}", question, class: "question-description" %>
      <%= link_to '', edit_question_path(question), class: "glyphicon glyphicon-edit" %>
      <%= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-ban-circle", title: "Delete this question." %><br>
    </div>
    <div class="just-tags">
      Tags: <%= raw question.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %><br>
    </div>
  <% end %>

<br>
</div>
<% else %>
  <div class="alert alert-warning" role="alert">We're sorry, but your search didn't match any results</div>
<% end %>