<p id="notice"><%= notice %></p>
<br>
<div class="text-center">
  <% unless @question.approved? %>
    <%# if current_user.id == @question.user_id %>
      <div class="alert alert-success alert-dismissible alert-width">
        <strong>
        Thank for your submission! Your question is awaiting moderation.
        </strong>
      </div>
    <%# end %>
  <% end %>
  <p>
    <h3 class="question-title"><%= @question.title %></h3>
  </p>

  <!-- QUESTION COMMMENTS BELOW THIS LINE -->

  <div id="question-container">
    <h4><%= markdown(@question.description).html_safe %></h4>
    <!-- p>Created by: <%# @question.user.name %></p -->
    <p><%= time_ago_in_words(@question.created_at) %> ago.</p>
    Tags: <%= raw @question.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %><br>
    <div class="tweet"><%= twitter_button :turbolinks => true %></div>
    <%= pluralize @question.impressionist_count, "view" %>
  </div>
  <br> <!-- ANSWERS BELOW THIS LINE -->
  
  <%= render 'answers/form' %>

  <h4>Answer<a href="#" class="new-answer-btn">(<%= @question.answers.count %>)</a></h4>
  <div class="answers-container col-md-6 col-md-offset-3 text-center">
    <!-- <h4>Answers</h4> -->
    <table>
      <% @question.answers.order(:cached_votes_score => :desc).each do |answer| %>
      <tr>
        <td id="answer-<%= answer.id %>" class="answer-text">
          <div class="answer-votes ">
            <%= link_to "", like_answer_path(answer), method: :put, class: "glyphicon glyphicon-arrow-up" %><br>
            <span class="score"><%= answer.score %></span><br>
            <%= link_to "", dislike_answer_path(answer), method: :put, class: "glyphicon glyphicon-arrow-down" %>
          </td>
          </div>
          <td>
          <div class="answer-description thumbnail">
            <%= markdown(answer.description).html_safe %>
            <div class="created-at text-center"><%= time_ago_in_words(answer.created_at) %> ago.</div>
            <div class="answer-author text-center">Added by: <%= answer.user.name %></div>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57752020-1', 'auto');
  ga('send', 'pageview');

</script>
