<%= render 'login' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<% @question.comments.each do |question_comment| %>
	<p>
		<%= question_comment.description %>
	</p>
<% end %>

<h3>New Question Comment</h3>
<%= render 'question_comments' %>

<h3>New Answer</h3>
<%= render 'answers/form' %>

<h3>Answers</h3>
<% @question.answers.each do |answer| %>
	<p>
		<%= answer.description %>
		<br>
		<% answer.comments.each do |comment| %>
		<%= comment.description %>
		<br>
		<% end %>

		<h3>New Answer Comment</h3>
		<%= render 'answer_comments', answer: answer %>
	
		Added: <%= answer.updated_at %>
	</p>
<% end %>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
