<%= render 'login' %>
<p id="notice"><%= notice %></p>

<p>
  <h1><%= @question.title %></h1>
</p>

<!-- QUESTION COMMMENTS BELOW THIS LINE -->

<div id="question-container">
  <h2>Question:</h2>
    <h3><%= @question.description %></h3>
</div>

<br> <!-- ANSWERS BELOW THIS LINE-->

<%= render 'answers/form' %>
<a href="#" class="new-answer-btn">View Answers</a>
<div class="answers-container">
    <h3>Answers</h3>
    <% @question.answers.each do |answer| %>  
      <%= answer.description %>
      <p><%= answer.updated_at %></p>
  <% end %>

</div>

<br>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
