<div class="text-center">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation">
      <%= link_to "Newest", questions_path(newest: true) %>
    </li>
    <li role="presentation">
      <%= link_to "Popular", questions_path(answered: true) %>
    </li>
    <li role="presentation">
      <%= link_to "Unanswered", questions_path(unanswered: true) %>
    </li>

    <li role="presentation" class="active">
      <%= link_to "Leaderboard", leaderboard_show_path %>
    </li>
  </ul>
</div>

<h3 class="text-center">Interque Leaderboard</h3>

	<table class="table table-striped">
		<th class="text-center">Rank</th>
		<th class="text-center">Name</th>
		<th class="text-center">Points</th>
	<% n = 1 %>
  <% @users.each do |user| %>
    <% if n < 26 %>
  		<tr>
  		<td class="text-center leaderboard-user-rank"><%= n %>.</td>
  		<td class="text-center leaderboard-user-name"><%= user.name %></td>
  		<td class="text-center leaderboard-user-score"><%= user.score %></td>
  		<% n += 1 %>
  		</tr>
  	<% end %>
  <% end %>

	</table>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57752020-1', 'auto');
  ga('send', 'pageview');

</script>
