<h4>Pending Questions:</h4>
<p>test</p>

<% if current_user %>
	<% @questions.each do |question| %>
		<% if question.approved == false %>
		<div>
			<h4>Title: <%= question.title %><br></h4>
			Description: <%= question.description %><br>
			<% unless question.user.name == nil %>
				By: <%= question.user.name %><br>
			<% end %>
			<span class="approve-question">
				<%= link_to "Approve", approve_question_path(question), :method => :put, remote: true %>
			</span>
			<%= link_to '', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-ban-circle", title: "Delete this question." %>
		</div>
		<br>
		<% end %>
	<% end %>
<% end %> 

