<% if current_user %>

		<div class="text-center overall-status">
			<h3>Interque Footprint</h3>
			You have added <%= current_user.questions.count %> questions &amp; <%= current_user.answers.count %> answers (<%= @total_votes %> upvotes).
		
			<% if current_user.questions.count == 0 && current_user.answers.count == 0 %>
				<br>We know you know some stuff. Quit holding out on us and answer some questions! <br> Don't think that you do? <a href="" data-toggle="modal" data-target="#myModal">Ask</a> some!
			<% elsif current_user.questions.count == 0 %>
				<strong><br>
					Do everyone a favor and add your first <a href="" data-toggle="modal" data-target="#myModal">
	      question!</a>
				</strong>
			<% elsif current_user.answers.count == 0 %>
				<strong><br>
					Quit holding out on us and answer some questions.
				</strong>
			<% end %>
		</div>


		<div class="votes-and-approvals">
			<div class="notifications-added col-md-8">
				<h4 class="col-md-offset-2">Approvals &amp; Answers</h4>
				<span class="text-center">
					<%= render 'approved' %>
				</span>
			</div>
		
			<div class="notifications-voted col-md-4">
				<h4 class="text-center">Votes</h4><span></span>
				<%= render 'upvoted' %>		
			</div>	
		</div>
<% end %>