<%= form_for(@answer) do |f| %>
  <%= f.hidden_field :question_id %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div align="center" class="answer-field">
  <div class="field">
    <%= f.text_area :description, placeholder: 'Add a new answer', class:"tinymce" %>
  </div>
  <div class="field">
</div>
  <%= tinymce %>
    
    
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
