<!DOCTYPE html>
<html>
<head>
  <title>Interque</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<header>
  <div id="logo" class="text-center"><%= image_tag("logo.png", size: "500x91") %></div>
  <nav class="nav-menu">
    <%= link_to 'Home', root_path, class: "btn btn-success" %>
    <%= link_to 'New Question', new_question_path, class: "btn btn-primary", id: "new-link", remote: true %>
    <%= link_to 'Job Board', '#', class: "btn btn-success" %>
    <%= form_tag questions_path, id: "search-box", :method => 'get' do %>
    <% end %>
      <div id="search-bar">
        <%= text_field_tag :tag, params[:tag], placeholder: 'filter by tag', class: "search-bar" %>
        <%= submit_tag "Filter", :name => nil, class: "search-button" %>
      </div >
  </nav>

<!-- model callback, question model -->
</header>
<body>
  <br><br><br><br><br>
	
  <%= yield %>

</body>
</html>
