<!DOCTYPE html>
<html>
<head>
  <title>Interque</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<%= form_tag questions_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :employer, params[:employer] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
	
<%= debug params%>
<%= yield %>

</body>
</html>
