<!DOCTYPE html>
<html>
<head>
  <title>Interque</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<%= form_tag questions_path, id: "search-box", :method => 'get' do %>
  <p>
    <%= text_field_tag :tag, params[:tag] %>
    <%= submit_tag "Search", :name => nil %>
  </p >
<% end %>

<nav class="nav-menu">
  <%= link_to 'Home', root_path %>
  <%= link_to 'New Question', new_question_path, class: "btn btn-lg btn-primary" %>
  <%= link_to 'Job Board', '#' %>

</nav>
	
<%= yield %>

</body>
</html>
